@keyframes botao-assine {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

@keyframes botao-plano {
    0% {
        transform: scale(1);
        background: var(--btn-bg-color-gradient);
        background-size: 250%;
        border: 2px solid transparent;
    }
    25% {
        transform: scale(1.1);
        background: var(--btn-bg-color-gradient);
        background-size: 250%;
        border: 2px solid transparent; 
    }
    50%,75%,100% {
        transform: scale(1.2);
        background: transparent; 
        border: 2px solid var(--secondary-color);
    }
}

/*.elemento {
    animation: botao-plano 3s ease forwards;
}*/


@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes mover-plano-telas {
    0% {
        transform: rotateY(0deg);
    }

    50%,100% {
        transform: rotateY(-15deg);
    }
}

@keyframes mover-plano-mobile {
    0% {
        transform: rotateY(0deg);
    }

    50%,100% {
        transform: rotateY(15deg);
    }
}