@import url(font.css);
@import url(colors.css);
@import url(animation.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: raleway;
}


body {
    background-color: burlywood;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 127px;
    gap: 20px;
    padding: 32px 24px;
    background: var(--nav-bg-color);
    position: fixed;
}

.menu img {
    width: 100px;
}

.menu__btn {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    gap: 24px;
}

.menu__btn a {
   font-size: 0.75rem;
   text-decoration: none;
   letter-spacing: 2px;
   font-weight: 700;
}

.menu__btn-assine {
    background-color: var(--tertiary-color);
    padding: 6px 26px;
    border-radius: 400px;
}

/*Header*/

.header {
   display: flex;
   flex-direction: column;
}

header::after {
    content: "";
    width: 100%;
    height: 250px;
}

header::before {
    content: "";
    width: 100%;
    height: 228px;
}

.header__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   font-size: 1.3rem;
   padding: 0px 40px 0px 40px;
}

.header__channels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 350px;
    height: 132px;
    gap: 24px;
}

.header__channels img {
    object-fit: contain;
}


.header__title-white {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    min-width: 350px;
    height: 65px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 4rem;
    line-height: 3.2rem;
}

/*barra*/

.barra {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

/*preço assinatura*/

.oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oferta span {
    font-size: 1.8rem;
}

.price {
    font-size: 2.5rem;
}

small {
    font-size: 0.9rem;
}

.comentario {
    text-align: center;
}

/*botão oferta*/

.oferta a {
    margin-top: 24px;
    margin-bottom: 32px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 40px;
    background: var(--divider-bg-color);
    border-radius: 400px;
    animation: botao-assine 2.2s linear infinite;
}

/*Main*/

.section__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
}

.card__plans {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 90%;
    text-align: center;
    background: var(--card-bg-color);
    margin-bottom: 16px;
    border-radius: 24px;
}

.subscription__price {
    margin-bottom: 16px;
}

.description {
    text-align: left;
    margin-bottom: 16px;
    padding-left: 12px;
}

.description::marker{
    content: "+";
}

.button__plans--mobile {
    background: var(--divider-bg-color);
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 40px;
    border-radius: 400px;
    margin-top: 128px;
}

.button__plans--multitelas {
    background: var(--divider-bg-color);
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 40px;
    border-radius: 400px;
    margin-top: 8px;
}

/*gallery*/

.section__gallery{
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px;
    margin-bottom: 64px;
}

.title__gallery {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 64px;
}


.card__gallery {
    display: grid;
    overflow-x: scroll;
    scroll-behavior: smooth;
    grid-template-columns: repeat(6, 100%);
    gap: 35px;
    margin-bottom: 128px;
}

.card__gallery{
    flex: 0 0 auto;
}

.card__img {
    width: 100%;
    transition: background-image 1.3s ease;
}

.card__img img{
    width: 100%;
    opacity: 0;
}

.card__img:nth-child(1){
    background-image: url(../IMG/hbo-default_0.webp);
    background-size: cover;
    border-radius: 25px;
}

.card__img:nth-child(2){
    background-image: url(../IMG/MAX-Default.webp);
    background-size: cover;
    border-radius: 25px;
}

.card__img:nth-child(3){
    background-image: url(../IMG/DC_Default.webp);
    background-size: cover;
    border-radius: 25px;
}

.card__img:nth-child(4){
    background-image: url(../IMG/WB-Default.webp);
    background-size: cover;
    border-radius: 25px;
}

.card__img:nth-child(5){
    background-image: url(../IMG/CN-Default.webp);
    background-size: cover;
    border-radius: 25px;
}

.card__img:nth-child(6){
    background-image: url(../IMG/UCL-Default.webp);
    background-size: cover;
    border-radius: 25px;
}

/*hover*/

.card__img:nth-child(1):hover{
    background-image: url(../IMG/hbo-hover_0.webp);
    background-size: cover;
}

.card__img:nth-child(2):hover{
    background-image: url(../IMG/MAX-Hover.webp);
    background-size: cover;
}

.card__img:nth-child(3):hover{
    background-image: url(../IMG/DC-Hover.webp);
    background-size: cover;
}

.card__img:nth-child(4):hover{
    background-image: url(../IMG/WB-Hover.webp);
    background-size: cover;
}

.card__img:nth-child(5):hover{
    background-image: url(../IMG/CN-Hover.png);
    background-size: cover;
}

.card__img:nth-child(6):hover{
    background-image: url(../IMG/UCL-Hover.webp);
    background-size: cover;
}
